@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.slideInOut {
  transition: transform 0.3s ease-in-out;
  animation: slideOut 1s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateX(-100%);
    visibility: hidden;
  }
  30% {
    transform: translateX(-70%);
    visibility: hidden;
  }
  50% {
    transform: translateX(-50%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0%);
    visibility: visible;
    width: 300px;
  }
}